@model Tarea_S3Lab.Models.Alumno
@{
    ViewData["Title"] = "Alumno";
}

<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h1 class="display-4">Formulario de Registro de Alumnos</h1>

    <form asp-controller="Alumno" asp-action="Crear">

        <label asp-for="Nombres" class="control-label"></label>
        <input asp-for="Nombres" class="form-control" type="text" placeholder="Escriba el nombres" />

        <label asp-for="Apellidos" class="control-label"></label>
        <input asp-for="Apellidos" class="form-control" type="text" placeholder="Escriba el apellido" />

        <label asp-for="DNI" class="control-label"></label>
        <input asp-for="DNI" class="form-control" type="text" placeholder="DNI" />

        <label asp-for="Genero" class="control-label"></label>
        <input asp-for="Genero" class="form-control" type="text" placeholder="Genero" />

        <label asp-for="Carrera" class="control-label"></label>
        <input asp-for="Carrera" class="form-control" type="text" placeholder="Carrera" />


        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
    <h1>@ViewData["Message"]</h1>

</div>