@model Tarea_S3Lab.Models.Alumno
@{
    ViewData["Title"] = "Alumno";
}

<h1>@ViewData["Title"]</h1>


<div class="container">
    <h1 class="text-center display-4">Formulario de Registro de Alumnos</h1>

    <form asp-controller="Alumno" asp-action="Crear">

        <div class="row">
            <div class="col-md-6">
                <label asp-for="Apellidos" class="control-label">Apellidos:</label>
                <input asp-for="Apellidos" class="form-control" type="text" placeholder="Escriba sus apellidos"/>
            </div>
            <div class="col-md-6">
                <label asp-for="Nombres" class="control-label">Nombres:</label>
                <input asp-for="Nombres" class="form-control" type="text" placeholder="Escriba sus nombres" />
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="DNI" class="control-label">DNI:</label>
            </div>
            <div class="col-md-10">
                <input asp-for="DNI" class="form-control" type="text" placeholder="Ingrese su DNI" />
            </div>   
        </div>
        </br>
        <div class="row">
            <div class="col-md-2">
                <label asp-for="Genero" class="">Género:</label>
            </div>
            <div class="col-md-10">
                <div>
                    <input asp-for="Genero" class="" type="radio" value="M" />
                    <label>Masculino</label>
                </div>
                <div>    
                    <input asp-for="Genero" class="" type="radio" value="F" />
                    <label>Femenino</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Fecha de Nacimiento:</label>
                <input asp-for="Time" class="form-control" type="date"/>
            </div>
            <div class="col-md-6">
                <label asp-for="Carrera" class="control-label">Carrera:</label>
                <select asp-for="Carrera" class="custom-select" id="inputGroupSelect01">
                    <option velue="Sistemas">Sistemas</option>
                    <option value="Aeronautica">Aeronautica</option>
                    <option value="Civil">Civil</option>
                    <option value="Industrial">Industrial</option>
                    <option value="Arquitectura">Arquitectura</option>
                </select>
            </div>
        </div>

        </br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
    <h1>@ViewData["Message"]</h1>

</div>